In [ ]:
##codigo de sql
#CREATE USER 'root'@'DESKTOP-8LTE1A4' IDENTIFIED BY '123456mm';
#GRANT ALL PRIVILEGES ON . TO 'root'@'DESKTOP-8LTE1A4';
#FLUSH PRIVILEGES;
#importante para poder conectar a la base de datos
#-- Crear la base de datos Tienda
#CREATE DATABASE Tienda;
#-- Seleccionar la base de datos Tienda
#USE Tienda;

#-- Crear la tabla productos
#CREATE TABLE PRODUCTOS (
#    CODIGO INT,
#    NOMBRE TEXT,
#    PRECIO NUMERIC,
#    PRIMARY KEY(CODIGO)
#);
#-- INSERT
#INSERT INTO tienda.PRODUCTOS (CODIGO, NOMBRE, PRECIO) VALUES ('111', 'MANZANA', '6');
#INSERT INTO tienda.PRODUCTOS (CODIGO, NOMBRE, PRECIO) VALUES ('112', 'MELON', '3');
#INSERT INTO tienda.PRODUCTOS (CODIGO, NOMBRE, PRECIO) VALUES ('113', 'PERAS', '2');
#INSERT INTO tienda.PRODUCTOS (CODIGO, NOMBRE, PRECIO) VALUES ('119', 'SANDIA', '2');
#-- UPDATE --
#UPDATE tienda.PRODUCTOS SET NOMBRE = 'SANDIA' WHERE (CODIGO = '119');
#-- CONSULTAS --
#SELECT * FROM PRODUCTOS WHERE CODIGO = '111';
#-- DROP --
#DELETE FROM PRODUCTOS WHERE CODIGO = 114;
#SELECT * FROM PRODUCTOS

In [ ]:
# Importamos la librería
import mysql.connector
import pandas as pd
# Conectar a la base de datos MySQL
con = mysql.connector.connect(
    host='DESKTOP-8LTE1A4',  # O proporciona la dirección IP del servidor MySQL
    port=3306,         # Puerto por defecto para MySQL
    user='root',
    password='123456mm',
    database='Tienda'
)
# Leer datos de la tabla PRODUCTOS en un DataFrame
df = pd.read_sql_query("SELECT * FROM PRODUCTOS", con)
# Seleccionar el índice
df = df.set_index('CODIGO')
# Mostrar el DataFrame actual
print("Datos actuales en la tabla PRODUCTOS:")
print(df)
# Insertar datos en la tabla
# Supongamos que queremos insertar una nueva fila con CODIGO=119, NOMBRE='Arroz', PRECIO=1.50
cursor = con.cursor()
cursor.execute("INSERT INTO PRODUCTOS (CODIGO, NOMBRE, PRECIO) VALUES (114,'AGUA', 9)")
con.commit()
# Consultar datos con el índice
# Por ejemplo, obtener el producto con CODIGO=118
consulta_producto_119 = df.loc[119]
print("\nConsulta del producto con CODIGO=119:")
print(consulta_producto_119)
# Actualizar datos dentro de la tabla
# Supongamos que queremos actualizar el precio del producto con CODIGO=118 a 0.25
cursor.execute("UPDATE PRODUCTOS SET PRECIO = 5 WHERE CODIGO = 119")
con.commit()
# Mostrar el DataFrame actualizado después de la actualización
df_actualizado = pd.read_sql_query("SELECT * FROM PRODUCTOS", con).set_index('CODIGO')
print("\nDatos actualizados en la tabla PRODUCTOS:")
print(df_actualizado)
# Borrar datos dentro de la tabla
# Supongamos que queremos borrar el producto con CODIGO=119
cursor.execute("DELETE FROM PRODUCTOS WHERE CODIGO = 119")
con.commit()
# Mostrar el DataFrame actualizado después de la eliminación
df_despues_eliminacion = pd.read_sql_query("SELECT * FROM PRODUCTOS", con).set_index('CODIGO')
print("\nDatos después de la eliminación en la tabla PRODUCTOS:")
print(df_despues_eliminacion)
# Cerrar la conexión a la base de datos
con.close()